    *{
    margin: 0;padding: 0;
    }
    
    h1 {text-align: center; 
        color: white;
        padding: 10px;
        user-select:none;
    }

    a{
    z-index:14;
    user-select:none;
    }

    body {background-color: #2b2929;
    justify-content: center;
    align-items: center;
    }

    p  {
        user-select:none;
        padding: 10px;
        font-size: 20px; 
        line-height: 30px; 
        color: white;
        text-align:start; 
        white-space: pre-wrap;
        font-weight: bold;
    }

    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none;
    cursor: pointer;
    z-index:10
    }
    
    li {
    float: left;
    flex-wrap: wrap;
    position:relative
    }
    
    li a {
    position:relative;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.3s;
    }
    
    li :hover:not(.active) {
    background-color: #111;
    border-bottom-style: solid;
    border-color: #d10000;
    border-bottom-width: 5px;
    
    }

/* 上拉菜单 */
    .dropup {
        float:right;
        position:relative;
    }

    .dropup-content {
        font-weight: bold;
        display: none;
        visibility: hidden;
        background-color: #333;
        z-index: 1;
        position:relative;
        
        }

    .dropup:hover .dropup-content {
        display: block;
        visibility: visible;
        /* float:left; */
        position:fixed;
        bottom: 80px;
        /* margin-top:auto; */
        z-index: 10;
        
    }

    #map-box-A {
        
        position: relative;
        z-index: 2;
        /* display: inline-block;  */
        width: 100%; 
        height: 100%
        
        }

    #map-box-B {
    
        position: relative;
        z-index: 2;
        /* display: inline-block;  */
        width: 100%; 
        height: 100%
        
        }

    #map-box-C {

        position: relative;
        z-index: 2;
        /* display: inline-block;  */
        width: 100%; 
        height: 100%
        
        }
    #map-box-D {

        position: relative;
        z-index: 2;
        /* display: inline-block;  */
        width: 100%; 
        height: 100%
        
        }
    #map {
    position: relative;
    z-index: 4;
    display: inline-block; 
    width: 100%; 
    height: 100%
    }
    
    #top {
    background: #202020b4;
    width: 150px;
    /* height: epx; */
    /* border: 4px solid #A8A8A8; */
    padding: 25px;
    position: fixed; 
    text-align: center;
    margin: 10px;
    z-index:6;
    border-top: solid;
    border-color: #a8a8a8;
    border-top-width: 3px;
    border-bottom: solid;
    border-color: #a8a8a8;
    border-bottom-width: 3px;
    }		

    #APEX_left {
    background-color: #d10000;
    border-bottom-style: solid;
    border-color: #d10000;
    border-bottom-width: 5px;
    cursor: default;
    z-index:8
    }

    .container{
        display: inline;
        position: absolute; 
        z-index: 12;
        }

    button{
        display: inline;
        transform: translate(-16px,-16px);
        /* width: 20px;
        height: 20px; */
        padding: 8px;
        position: absolute;
        border-radius: 50%;
        font-weight: bold;
        font-size: 20px; 
        cursor: pointer;
		}

    button:hover .tip-content-right-5{
        display: block;
        }

    button:hover .tip-content-bottom-dis{
        display: block;
        }

    button:hover .tip-content-right-2-dis{
        display: block;
        }

    button:hover .tip-content-dis{
        display: block;
        }


    button:hover .tip-introduction-top{
        display: block;
        }

    button:hover .tip-introduction-bottom{
        display: block;
        }


        
    button:hover{
        background: #ffffff;
        box-shadow: 0 0 0 4px#333,0 0 0 6px #a8a8a8;
        }
        
    .tip-content{
        cursor: default;
	    white-space: nowrap;
        text-align: center;
        position: absolute;
        width: auto;
        height: auto;
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: 160%; 
        transform:translateX(-50%);
        padding: 10px;
        border-bottom-style: solid;
        border-color: #a8a8a8;
        border-bottom-width: 3px;
        /* display: none; */
        }

    .tip-content-dis{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        width: auto;
        height: auto;
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: 160%; 
        transform:translateX(-50%);
        padding: 10px;
        border-bottom-style: solid;
        border-color: #a8a8a8;
        border-bottom-width: 3px;
        display: none;
        }

    .tip-content-bottom{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        width: auto;
        height: auto;
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -370%; 
        transform:translateX(-50%);
        padding: 10px;
        border-top-style: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        /* display: none; */
        }

    .tip-content-bottom-dis{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        width: auto;
        height: auto;
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -370%; 
        transform:translateX(-50%);
        padding: 10px;
        border-top-style: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        display: none;
        }

    .tip-content-left{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        width: auto;
        height: auto;
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -100%; 
        left: -250px;
        /* transform:translateX(-50%); */
        padding: 10px;
        border-right: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        /* display: none; */
        }

    .tip-content-left-2{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        width: auto;
        height: auto;
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -100%; 
        left: -270px;
        /* transform:translateX(-50%); */
        padding: 10px;
        border-right: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        /* display: none; */
        }


    .tip-content-right{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        /* width: auto;
        height: auto; */
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -100%; 
        right: -310px;
        transform:translateX(-50%);
        padding: 10px;
        border-left: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        /* display: none; */
        }

    .tip-content-right-2{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        /* width: auto;
        height: auto; */
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -100%; 
        right: -380px;
        transform:translateX(-50%);
        padding: 10px;
        border-left: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        /* display: none; */
        }


    .tip-content-right-2-dis{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        /* width: auto;
        height: auto; */
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -100%; 
        right: -380px;
        transform:translateX(-50%);
        padding: 10px;
        border-left: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        display: none;
        }


    .tip-content-right-3{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        /* width: auto;
        height: auto; */
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -100%; 
        right: -340px;
        transform:translateX(-50%);
        padding: 10px;
        border-left: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        /* display: none; */
        }

    .tip-content-right-4{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        /* width: auto;
        height: auto; */
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -100%; 
        right: -400px;
        transform:translateX(-50%);
        padding: 10px;
        border-left: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        /* display: none; */
        }

    .tip-content-right-5{
        cursor: default;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        /* width: auto;
        height: auto; */
        background-color: rgba(51, 51, 51, 0.9);
        color: rgb(216, 216, 216);
        bottom: -100%; 
        right: -300px;
        transform:translateX(-50%);
        padding: 10px;
        border-left: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        display: none;
        }

    .tip-introduction-top{
        cursor: default;
        text-align: center;
        position: absolute;
        width: 220px;
        height: auto;
        background-color: rgb(51, 51, 51);
        color: rgb(216, 216, 216);
        bottom: 300%; 
        transform:translateX(-50%);
        padding: 20px;
        border-top: solid;
        border-color: #a8a8a8;
        border-top-width: 3px;
        border-bottom: solid;
        border-color: #a8a8a8;
        border-bottom-width: 3px;
        display: none;
        }

    button:hover .tip-introduction-top{
        display: block;
        }

    #introduction{
        position: relative;
        width: 100%; 
        height: 100%

    }



        [title~="display"]{
            display:inline-block;
        }
        [title~="dontdisplay"]{
            display:none;
        }
